.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;


  @media (min-width: 480px) {
    width: 480px;
  }

  @media (min-width: 768px) {
    width: 768px;
  }

  @media (min-width: 1200px) {
    width: 1200px;
  }
}

.container--header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



  // @media (min-width: 768px) {
  //   margin: 0 auto;
  //   max-width: 768px;
  // }

  //   @media (min-width: 1200px){
  //     display: flex;
  //     align-items: center;
  //     align-content: center;
  //   }


//   //   @media (min-width: 1200px) {
//   //     width: 1200px;
//   //   }
// }

.container--mobile{
display: flex;
flex-direction: column;
align-content: space-between;
height: 100%;
}


// .container-hero {
//   text-align: center;
//   padding-bottom: 0;

//   @extend .container;
// }


// .container-team {
//   // margin-left: auto;
//   // margin-right: auto;
//   background-color: var(--secondary-button-background-color);
// }

.team-list--container {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-button-color);
  text-align: center;

  .section-subtitle,
  .team-list--subtitle {
    display: block;
    text-align: center;
  }
}

.container--client-list {
  margin-top: 0;
  margin-bottom: 0;
}

.container--footer {
  max-width: 1200px;
  padding: 0;
}

.footer--tablet-container{
  @media (min-width: 768px){
  display: flex;
  gap: 165px;
  margin-bottom: 60px;
  padding-left: 61px;
  padding-right: 74px;
  justify-content: baseline;
}
}

.subscription--container {
  padding: 0;
  margin-left: auto;
}

.filter--container {
  max-width: 1200px;
  margin: 0, auto;
  padding: 0, 15px;
}

// .container--footer {
//   display: flex;
//   align-items: baseline;
// }

.container--footer-networks {
  margin-bottom: 60px;

  @media (min-width: 768px) {
      margin: 0;
    }
  // margin-left: 70px;
}

.form-field--container {
  position: relative;
  max-width: 448px;
  width: 100%;
}
