.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;

    &--item:not(:last-child) {
        margin-right: 50px;
      }

    }
.site-nav--link {
  display: block;
  width: 100%;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--section-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--transition-time-main) var(--time-function);

&:hover,
&:focus{
  color: var(--accent-color);
}
}

.site-nav--link__current {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);


&::after{
  content: "";
    position: absolute;
    bottom: 0;
  
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  
    transition: opacity var(--transition-time-main) var(--time-function);
  }
}
