.header {
border-bottom: 1px solid var(--header-border);

}

.header--burger {
  display: flex;
  position: absolute;
  top: auto;
  bottom: auto;
  right: 15px;
  padding: 0;
  margin: 0;
  border: none;
  color: transparent;
  font-family: inherit;
  background-color: var(--white-color);
  cursor: pointer;

  @media (min-width: 768px) {
    display: none;
  }
}

@media (max-width: 767px) {
  .site-nav,
  .contacts-nav {
    display: none;
  }
}

.logo--header {
  color: var(--logo-color);
  @extend %logo;
}
