.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-features {
//   padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .spec-section {
    display: none;
  }
}

.section-team {
  padding-top: 60px;
  background-color: var(--secondary-button-background-color);
}

.filter--section {
  padding-top: 0;
}
