.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-features {
    padding-bottom: 0;
}

.section-team {
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    background-color: var(--secondary-button-background-color);
}

.filter--section {
    padding-top: 0;
}