.section {
  padding-top: 60px;
  padding-bottom: 60px;

  // @media (min-width: 480px) {
  //     margin-left: auto;
  //     margin-right: auto;
  //   }
}

.section-features {
//   padding-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}


  .spec-section {
    display: none;
    @media (min-width: 1200px){
      display: block;
    }
  }


.section-team {
  padding-top: 60px;
  background-color: var(--secondary-button-background-color);
}

.filter--section {
  padding-top: 0;
}
