.spec-list--thumb {
  position: relative;
}

.product--thumb {
  max-width: 450px;
  width: 100%;
  position: relative;
  overflow: hidden;

//   @media (max-width: 479px){
//   padding-top: 77px;
//   padding-right: 24px;
//   padding-bottom: 77px;
//   padding-left: 24px;
// }
}
