.address--label {
  display: block;
  color: var(--footer-contact-background);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
text-align: center;

  transition: color var(--transition-time-main) var(--time-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &__physical {
    display: block;
    margin-top: 0;
    margin-bottom: 12px;
    color: var(--primary-button-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: center;
  }

  &__mail {
    margin-bottom: 12px;
    display: block;
  }

  &__tel {
    padding-bottom: 0;
    display: block;
  }
}


.address--label-list {
  display: block;
    margin-bottom: 0;
}

