.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
}

.logo--label {
  margin-top: 24px;
  margin-bottom: 25px;
  color: var(--accent-color);
  @extend %logo;
}
