.mobile-menu {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 48px 83px 48px 40px;
  background-color: var(--primary-button-color);
  transform: translateX(-100%);
  transition: transform 500ms;

  @media (min-width: 768px) {
    display: none;
  }
}

.mobile-nav {
  margin-bottom: auto;

  &--link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--section-title-color);
    transition: color var(--transition-time-main) var(--time-function);
  }

  &--link__active {
    color: var(--accent-color);
  }

  &--link:hover,
  &--link:focus {
    color: var(--accent-color);
  }
}

.mobile-nav--item,
.mobile-contacts--item {
  margin-bottom: 32px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 0;
  }
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts--link__mail,
.mobile-contacts--link__tel {
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.mobile-contacts--link__tel {
  font-size: 34px;
  line-height: 1.17;
}

.mobile-contacts--link__mail {
  font-size: 24px;
  line-height: 1.18;
  color: var(--primary-text-color);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu--open {
  display: none;
}

.mobile-menu--close {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  fill: var(--logo-color);
  transition: fill var(--transition-time-main) var(--time-function);

  &:hover {
    fill: var(--accent-color);
  }
}

.mobile-networks {
  display: inline-flex;
  max-width: 357px;
  width: 100%;
  margin: 0;
  padding: 0;

  &--link {
      font-size: 18px;
      text-decoration: none;
      font-weight: 500;
      line-height: 1.2;
      color: var(--accent-color);
    }
  

  &--line {
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(33, 33, 33, 0.2);
  }
}
