.product {
  display: block;
  margin-bottom: 60px;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.product--item {
  list-style: none;
  max-width: 450px;
  width: 100%;
  height: 404px;
  height: 100%;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    max-width: 354px;
    width: 100%;
    height: 440px;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media (min-width: 1200px) {
    max-width: 370px;
    width: 100%;
    flex-basis: calc((100% - 60px) / 3);
  }

  transition: box-shadow var(--transition-time-main) var(--time-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.product--link {
  height: auto;
}

.product--card {
  padding: 20px 24px;
  background-color: var(--primary-button-color);
  border-top: none;
  border-right: 1px solid var(--portfolio-border);
  border-bottom: 1px solid var(--portfolio-border);
  border-left: 1px solid var(--portfolio-border);

  @media (min-width: 768px) {
    min-height: 146px;
  }
}

.product--card-label {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}
