.filter--item-list {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-top: 94px;
    margin-bottom: 50px;
    margin: 0;

    @media (max-width: 767px) {
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
        }
}

.filter--item:last-child {
    margin-right: 0;
}

.filter--item:first-child {
    margin-left: 0;
}
