.section--title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--section-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.client-list--title {
    margin-top: 0;
    margin-bottom: 50px;
}

.modal--title {
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--section-title-color);
}
