.section--title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.client-list--title {
  margin-top: 0;
  margin-bottom: 30px;

  @media (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.modal--title {
  margin-top: 0;
  margin-bottom: 12px;
  // max-width: 370px;
  // max-height: 60px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--section-title-color);

  @media (min-width: 1200px) {
    line-height: 1.15;
    }
}
