.team-list {
  padding-top: 50px;
  background-color: var(--secondary-button-background-color);

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding-top: 30px;
  }

  @media (min-width: 1200px) {
    padding-top: 50px;
  }
}

.team-list--card {
  max-width: 450px;
  width: 100%;
  max-height: 622px;
  height: 100%;
  margin-bottom: 30px;
  background-color: var(--secondary-button-background-color);

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 768px) {
    max-width: 354px;
    width: 100%;
    max-height: 536px;
    height: 100%;
    margin: 0;
  }

  @media (min-width: 1200px) {
    max-width: 270px;
    width: 100%;
    max-height: 428px;
    height: 100%;
  }
}

.team-list--label {
  font-size: 16px;
  list-style: 1.19;
  padding-bottom: 16px;
  text-align: center;
}
