:root {
    --primary-text-color: #757575;
    --section-title-color: #212121;
    --accent-color: #2196f3;
    --component-active-color: #188ce8;
    --primary-button-color: #ffffff;
    --secondary-button-background-color: #f5f4fa;
    --secondary-background-color: #f5f5f5;
    --logo-color: #000000;
    --header-border: #ececec;
    --hero-background-color: #2f303a;
    --portfolio-border: #eeeeee;
    --footer-contact-background: rgba(255, 255, 255, 0.6);
    --network-icon-color: #afb1b8;
    --foooter-icon-color: rgba(255, 255, 255, 0.1);

    --time-function: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time-main: 250ms;
}